<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
	<display-name>WebApp</display-name>
	<welcome-file-list>
		<welcom-file>index.html</welcom-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>controller.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>controller.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ActionFromUriFilter</filter-name>
		<filter-class>controller.ActionFromUriFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActionFromUriFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<!-- <filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>controller.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>-->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
</web-app>